<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
        {{ . }}{{ end }}{{ else }}{{ .Title }} ::
        {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
      </title>
      {{ end }}
      {{ partial "head.html" . }}
      {{/*  {{ partial "schema.html" . }}  */}}
      <script defer data-domain="blog.unhappyfolk.org" src="https://plausible.io/js/script.js"></script>
  </head>
  <body {{ with $.Site.Params.defaultTheme -}} class="{{ printf "%s-theme" . }}" {{- end }}>
    <div class="container">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "main" . }} {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ if $.Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  </body>
</html>
